

.MenuButton{

}

.MenuButton:hover{
    position: relative;
    left:10px;
    color: #000;
    background-color: #FFF !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}